<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    {{{body}}}
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  $(document).ready(function(){
    
    // Send a get request to the database to get all the items
    axios.get("/api/todo").then(function(response){
        // Loop through the database, and display all the items on the webpage 
      response.data.forEach(function(item){
          $("#listItems").append(`<li class="list-group-item"> ${item.text}</li>`);
      });
    });

    // When the 'Add' button is clicked, an ajax call is sent to the /api/todo route as a post request to store the input val in the database
    $("#add").on("click", function(event){
      event.preventDefault();
      axios.post("/api/todo", {
        text: $("#item").val().trim()
      }).then(function(response){
          $("#listItems").append(`<li class="list-group-item"> ${response.data.text}</li>`);
      });

    });
    
    // Create the update and delete events
  });
</script>
</html>